.daunbg {
    background-image: url("/images/bg1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 40px 10px rgba(0, 0, 0, 0.7);
    transition: background-position 0.2s ease-out;
}

.login-box {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.331);
    border-radius: 16px;
    padding: 30px;
    margin: 20px auto 0;
    width: 80%;
    max-width: 450px;
    color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.login-box input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff !important;
}

.login-box input:focus {
    background: rgba(255, 255, 255, 0.2);
}

.btn-green {
    background-color: #3BA141;
    color: #fff;
    border: none;
    transition: 0.3s;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid #6c757d;
    border-radius: 3px;
    background: white;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked {
    background: #1d3a1a;
    border-color: #1d3a1a;
}

.custom-checkbox:checked::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
.underlined {
    text-decoration: none;
}
.underlined:hover {
    text-decoration: underline;
}

.btn-green:hover {
    background-color: #1d3a1a;
}
.daftar-login-link {
    color: #c0ffb9 !important;
    transition: all 0.3s;
}
.daftar-login-link:hover {
    color: #24ff66 !important;
    text-decoration: underline !important;
}

.separator {
    display: flex; 
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px 0 10px;
    font-weight: bold;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
    margin: 0 10px;
}