/* LATAR BELAKANG */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('tropis.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* HEADER */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.logo img {
  width: 90px;
  height: 90px;
  margin-left: 90px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: -120px;
}

.nav-links a {
  color: #cccccc;
  text-decoration: none;
  font-weight: 100;
}

.search-bar {
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-bar input {
  border: none;
  padding: 8px;
  outline: none;
  width: 150px;
  background-color: transparent;
  color: #fff;
  font-style: italic;
  font-size: 14px;
}

.search-button {
  background-color: rgba(46, 125, 50, 0.8);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.search-icon {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* FORM RESET PASSWORD */
.form-container {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 30px;
  max-width: 400px;
  margin: 100px auto;
  text-align: left;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #eeeeee;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: #ccc;
}

/* TOMBOL RESET */
.form-container button {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.form-container button:hover {
  background-color: #388e3c;
}
